.vscode/**
.vscode-test/**
.idea/**
.gitignore
src/**
scripts/**
.github/**
.changeset/**
biome.json
renovate.json
.node-version
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.test.js
